@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    animation: scroll 1s ease-in-out;
    animation-timeline: scroll();
    animation-range: 100px;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
