@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    animation: scroll both;
    animation-timeline: scroll();
    animation-range: 5px;
}

@keyframes scroll {
    0% {
        background-color: transparent;
        border-bottom: 1px solid transparent;
    }
    100% {
        background-color: #030712a4;
        backdrop-filter: blur(10px);
        border-bottom: 1px solid #ffffff1a;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
}
